.pricing {
    .other-plans {
        border-color: @lightGrey;
        border-style: solid;
        border-width: 1px;
        padding: 40px 0;
        border-radius: 0 0 @baseRadius @baseRadius;

        @media (min-width: @screen-md-min) {
            border-width: 0 1px 1px;
            margin-left: -15px;
            margin-right: -15px;
        }

        .btn {
            padding: 0 10px;

            &:first-child {
                margin-right: 0;

                @media (min-width: @screen-sm-min) {
                    border-right: 1px solid @greySecondary;
                }
            }

            &:last-child {
                margin-left: 0;
            }
        }
    }

    .plan-footnote {
        text-align: left;
        font-size: 11px;
        color: @grey;
    }
    
    .other-plans-details {
    	border-color: @lightGrey;
        border-style: solid;
        border-width: 1px 0 0 0;
        padding: 40px 0;
        border-radius: 0 0 @baseRadius @baseRadius;
        text-align: center;
        
        p span {
        	color: #00445e;
    		font-weight: 700;
        }
        
        .other-plans-deliverables {
        	margin-top: 5px;
        }
        
        .btn {
        	margin-top: 20px;
    		min-width: 200px;
        }
    }
}
