.pricing {
    .other-plans {
        border-color: @lightGrey;
        border-style: solid;
        border-width: 0 1px 1px;
        padding: 40px 0;
        border-radius: 0 0 @baseRadius @baseRadius;

        .btn {
            padding: 0 10px;

            &:first-child {
                border-right: 1px solid @greySecondary;
            }

            &:last-child {
                margin-left: 0;
            }
        }
    }
}
