p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
button {
    font-family: @sansFontFamily;
}

blockquote {
    border-left: 0;
    font-size: 25px;
    margin: 15px 0 20px;
    padding: 0;

    footer::before {
        color: @blue;
    }
}

/**
 * Header
 */
.navbar {
    background: transparent;
    margin: 0;
    border-color: @opaqueBlue;
    padding: 12px 0;

    a {
        text-transform: uppercase;
    }
}

.navbar-brand {
    height: 32px;
    padding: 4px 15px;
}

.navbar-default {
    .navbar-nav {
        > .active {
            > a {
                background: transparent;

                &:hover {
                    background: transparent;
                }

                &.lang-selector {
                    font-size: @fontSM;
                    color: @blue;
                }
            }
        }

        a {
            &.lang-selector {
                font-size: @fontSM;
                color: @blue;
                text-transform: capitalize;
            }
        }

        > li,
        > .active {
            > a {
                color: @white;
                font-size: 15px;
                font-weight: @semibold;

                &:hover {
                    color: @white;
                    text-decoration: underline;
                }

                &.lang-selector {
                    color: @blue;
                }
            }
        }
    }
}

/**
 * Footer
 */

.footer {
    background-color: @strongBlue;
    font-weight: @bold;
    text-transform: uppercase;

    a,
    span {
        color: @lightBlue;
    }

    .footer-inner {
        padding: 78px 0;

        img {
            margin-right: 20px;
        }
    }
}
