p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: @sansFontFamily;
}

/**
 * Header
 */
.navbar {
    background: transparent;
    margin: 0;
    border-color: @opaqueBlue;
    padding: 12px 0;

    a {
        text-transform: uppercase;
    }
}

.navbar-brand {
    height: 32px;
    padding: 4px 15px;
}

.navbar-default {
    .navbar-nav {
        > .active {
            > a {
                background: transparent;

                &:hover {
                    background: transparent;
                }
            }
        }

        > li,
        > .active {
            > a {
                color: @white;
                font-style: 15px;
                font-weight: @semibold;

                &:hover {
                    color: @white;
                    text-decoration: underline;
                }
            }
        }
    }
}

/**
 * Jumbotron
 */
 .jumbotron {
    background: transparent;
    margin-top: 0;
 }

/**
 * Footer
 */

.footer {
    margin-top: 80px;
    background-color: @strongBlue;
    font-weight: @bold;
    text-transform: uppercase;

    a,
    span {
        color: @lightBlue;
    }

    .footer-inner {
        padding: 78px 0;
    }
}
