// Vlasni sections and structures
#vertical-sections {
    .base-styles() {
        padding: @sectionVerticalPadding 0;

        h2,
        h3,
        h4,
        p {
            text-align: center;
        }

        h2 {
            font-size: @fontXL;
            font-weight: @bold;

            &.normal-text {
                font-weight: @normal;
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: @fontSM;
            font-weight: @bold;
        }

        .lead {
            font-size: @fontMDS;
            font-weight: normal;
            line-height: 1.8;
        }
    }

    .no-padding() {
        padding: 0;
    }

    .clear-section() {
        h2 {
            color: @strongBlue;
        }

        h3 {
            color: @orange;
        }

        .lead {
            color: @grey;
        }
    }

    .dark-bg() {
        h2,
        h3,
        .lead {
            color: @white;
        }

        .lead {
            font-size: @fontMD;
        }
    }

    .grey-bg() {
        background: @lightestGrey;
        border-top: 1px solid @lightGrey;

        h3 {
            color: @greySolid;
            margin-bottom: 35px;
        }

        .section-widget() {
            border: 1px solid @lightGrey;
            border-radius: @baseRadius;
            padding: @sectionVerticalPadding / 2;
            text-align: center;
            margin-bottom: 60px;

            h2 {
                font-weight: @bold;
                color: @orange;
                font-size: @fontSM;
                margin-top: 0;
                text-transform: uppercase;
            }

            p {
                font-size: @fontMDS;
                font-weight: @normal;
                color: @grey;
            }
        }
    }
}

// Vlasni buttons mixins
#vlasni-btn {
    .vlasni-btn-base() {
        text-transform: uppercase;
        font-weight: @bold;
        line-height: 1;
        font-size: @fontMDS;
        padding: 14px 24px;
        border-radius: 2px;
        border-width: 2px;
        border-style: solid;

        &.btn-iconic {
            position: relative;
            padding: 14px 45px 14px 24px;

            i[class^='fa'],
            i[class*=' fa'] {
                position: absolute;
                right: 15px;
            }
        }
    }

    .default() {
        border: 0;
        color: @strongBlue;
        font-size: @fontMDS;
        padding: 0;

        &:hover {
            background: transparent;
            border-color: transparent;
            color: @strongBlue;
        }
    }

    .standard() {
        background: @orange;
        border-color: @orange;

        &:hover {
            background: @orange;
            border-color: @orange;
        }
    }

    .transparent(@borderColor: @boldBlue, @textColor: @boldBlue) {
        background: transparent;
        border-color: @borderColor;
        color: @textColor;

         &:hover {
            border-color: @borderColor;
            color: @textColor;
        }
    }
}

// Vlasni lists
#vlasnilist {
    .unstyled() {
        list-style: none;
        padding-left: 0;
    }

    .base-structure() {
        h2,
        h3 {
            &.list-title {
                color: @strongBlue;
                font-weight: @bold;
                font-size: @fontMD;
                margin: 30px 0;
                text-transform: unset;
            }
        }
    }

    .no-margin() {
        margin-top: 0;
        margin-bottom: 0;
    }

    .widget-list(@bg: @lightestGrey, @borderColor: @lightGrey) {
        > li {
            border: 1px solid @borderColor;
            border-radius: @baseRadius;
            background: @bg;
            padding: 30px;

            &:first-child {
                border-right: 0;
            }

            &:last-child {
                border-left: 0;
            }
        }
    }

    .list-iconic() {
        .iconed-list-item {
            border: 1px solid @lightGrey;
            border-radius: @baseRadius;
            position: relative;
            margin-bottom: 35px;
        }

        .list-icon {
            background: @lightestGrey;
            border-right: 1px solid @lightGrey;
            display: table;
            height: 118px;
            line-height: 118px;
            text-align: center;
            width: 115px;

            img {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .list-content {
            left: 0;
            margin-left: 116px;
            padding: 20px;
            position: absolute;
            top: 0;

            .list-item-title,
            p {
                text-align: left;
            }

            .list-item-title {
                font-size: @fontMD;
                color: @strongBlue;
                font-weight: bold;
            }

            p {
                color: @grey;
                font-size: @fontMDS;
            }
        }
    }

    .pricing-plan-list(@bg: @lightestGrey, @borderColor: @lightGrey) {
        .no-margin();

        > li {
            border: 1px solid @borderColor;
            background: @bg;
            padding: 30px 0 0;

            &:first-child {
                border-radius: @baseRadius 0 0 0;
                border-right: 0;
            }

            &:last-child {
                border-radius: 0 @baseRadius 0 0;
                border-left: 0;
            }

            h2,
            h3,
            p {
                margin: 0;
            }

            .list-title {
                font-size: @fontLG;
                font-weight: @bold;
                color: @strongBlue;
                text-transform: capitalize;
            }

            .plan-anual-amount {
                color: @grey;
                font-size: @fontMD;
                line-height: 1;

                i,
                span {
                    color: @orange;
                    vertical-align: middle;
                }

                i {
                    font-size: @fontLG;
                    font-style: normal;
                    font-weight: normal;
                }

                span {
                    font-size: @fontXXL;
                    font-weight: @bold;
                }
            }
        }

        .detail-section {
            background: @lightestGreyDark;
            border-top: 1px solid @borderColor;
            margin-top: 20px;
            padding: 20px 0;
            text-align: center;

            p {
                color: @grey;
                font-size: @fontMDS;

                span {
                    color: @strongBlue;
                    font-weight: @bold;
                }
            }

            .btn {
                min-width: 200px;
                margin-top: 20px;
            }
        }
    }

    .two-col-list() {
        li {
            position: relative;
            overflow: hidden;

            &:last-child {
                .middle-list-colored {
                    padding-bottom: 95px;
                }

                .middle-list-clear {
                    padding-bottom: 140px;
                }
            }
        }

        .middle-list-colored,
        .middle-list-clear {
            width: 50%;
            position: relative;
            padding-top: 95px;
            padding-bottom: 45px;
            min-height: 345px;
        }

        .middle-list-colored {
            background: @lightestGrey;
            padding-right: 40px;

            img {
                margin-top: 75px;
            }
        }

        .middle-list-clear {
            position: absolute;
            margin-left: 50%;
            top: 0;
            padding-left: 65px;
            padding-right: 20%;
            box-shadow: -1px 0 0 0 @lightGrey;

            h2,
            h3,
            p {
                text-align: left;
            }

            h2,
            h3 {
                font-size: @fontXL;
                font-weight: @bold;
                color: @strongBlue;
            }

            p {
                font-size: @fontMDS;
                color: @grey;
            }
        }

        .middle-list-step {
            background: @white;
            font-weight: @bold;
            font-size: @fontMDS;
            color: @grey;
            border-radius: 50%;
            padding: 10px;
            border: 1px solid @greySecondary;
            left: 50%;
            line-height: 1;
            margin-left: -21px;
            padding: 13px 16px 9px;
            position: absolute;
            text-align: center;
            top: 78px;
        }
    }
}

// Vlasni dividers and separator elements
#dividers {
    // ToDo - apply this approach to all dividers with margin
    .divider-margin(@vertical, @horizontal) {
        margin: @vertical @horizontal;
    }

    .center-aligned() {
        margin: 40px auto;
    }

    .left-aligned() {
        margin: 40px 0;
    }

    .short-rounded() {
        width: 50px;
        height: 6px;
        border-radius: @baseRadius;
        background-color: @lightGrey;
    }

    .no-top-border() {
        margin-top: 0;
    }
}

// Vlasni triangle
#triangle {
    .base-generator() {
        width: 0;
        height: 0;
        border-style: solid;
    }

    .to-bottom(@triangle-color) {
        border-width: 12px 7.5px 0 7.5px;
        border-color: @triangle-color transparent transparent transparent;
    }

    .bottom-out {
        bottom: -12px;
        content: "";
        left: 50%;
        margin-left: -7.5px;
        position: absolute;
        z-index: 100;
    }
}

// Vlasni bloquote
#vlasni-blockquotes {
    .base-structure() {
        background: @lightestGrey;
        border: 1px solid @lightGrey;
        padding: 20px 50px;
        font-style: italic;
        border-radius: @baseRadius;
        color: @lightBlue;
        font-size: @fontLG;
        font-weight: @light;
        position: relative;
        margin: 50px 0;

        p {
            font-size: @fontLG;
            font-weight: @light;
        }
    }

    .with-quotes-icons {
        &::before,
        &::after {
            position: absolute;
            color: @greySecondary;
            font-family: FontAwesome;
            font-size: @fontMD;
        }

        &::before {
            content: "\f10d";
            top: 10px;
            left: 20px;
        }

        &::after {
            content: "\f10e";
            top: 10px;
            right: 20px;
        }
    }
}
