// Vlasni buttons mixins
#vlasni-btn {
    .vlasni-btn-base {
        text-transform: uppercase;
        font-weight: @bold;
        border: 0;
        line-height: 1;
        font-size: @fontMD;
        padding: 14px 24px;
        border-radius: 2px;
        border-width: 2px;
        border-style: solid;
    }

    .standard() {
        background: @orange;
        border-color: @orange;

        &:hover {
            background: @orange;
            border-color: @orange;
        }
    }

    .transparent(@borderColor: @boldBlue, @textColor: @boldBlue) {
        background: transparent;
        border-color: @borderColor;
        color: @textColor;

         &:hover {
            border-color: @borderColor;
            color: @textColor;
        }
    }
}
