// Vlasni buttons mixins
#vlasni-btn {
    .vlasni-btn-base() {
        text-transform: uppercase;
        font-weight: @bold;
        border: 0;
        line-height: 1;
        font-size: @fontMDS;
        padding: 14px 24px;
        border-radius: 2px;
        border-width: 2px;
        border-style: solid;

        &.btn-iconic {
            position: relative;
            padding: 14px 45px 14px 24px;

            i[class^='fa'],
            i[class*=' fa'] {
                position: absolute;
                right: 15px;
            }
        }
    }

    .standard() {
        background: @orange;
        border-color: @orange;

        &:hover {
            background: @orange;
            border-color: @orange;
        }
    }

    .transparent(@borderColor: @boldBlue, @textColor: @boldBlue) {
        background: transparent;
        border-color: @borderColor;
        color: @textColor;

         &:hover {
            border-color: @borderColor;
            color: @textColor;
        }
    }
}

// Vlasni lists
#vlasnilist {
    .unstyled() {
        list-style: none;
        padding-left: 0;
    }

    .widget-list(@bg: @lightestGrey, @borderColor: @lightGrey) {
        > li {
            border: 1px solid @borderColor;
            border-radius: @baseRadius;
            background: @bg;
            padding: 30px;

            &:first-child {
                border-right: 0;
            }

            &:last-child {
                border-left: 0;
            }

            img {
                margin: 0 auto;
                display: block;
            }

            h2,
            h3 {
                color: @strongBlue;
                font-weight: @bold;
                font-size: @fontMD;
                margin: 30px 0;
            }
        }
    }
}

// Vlasni dividers and separator elements
#dividers {
    .center-aligned() {
        margin: 40px auto;
    }
    .short-rounded() {
        width: 50px;
        height: 6px;
        border-radius: @baseRadius;
        background-color: @lightGrey;
    }
}
