/**
 * Jumbotron
 */
.jumbotron {
    background: rgba(0, 0, 0, 0) none repeat scroll center center / 100vh auto;
    margin: 0;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 60px;

    @media (min-width: @screen-lg-min) {
        padding-top: 180px;
        padding-bottom: 100px;
    }

    &.short {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h1 {
        font-size: @fontXXL;
        color: @white;
        font-weight: @bold;
        margin-bottom: 25px;
        line-height: 1;
    }

    p {
        margin-bottom: 0;
    }

    .lead {
        color: @white;
        font-size: @fontLG;
        font-weight: @light;
        line-height: 1.25;
    }

    .jumbotron-btn-container {
        margin: 35px 0;
    }
}

/**
 * Heroshot
 */

.hero-section {
    background: @clearBlue;
    padding-top: 75px;
    position: relative;

    &.hero-home {
        background: url("images/vlasni-hero.jpg") no-repeat scroll center center transparent;
        background-size: auto 100%;

        @media (min-width: @screen-md-min) {
            background-size: auto 100vh;
        }
    }

    &.hero-internal {
        #gradient > .vertical(rgba(0,0,0,0.3); @clearBlue; @start-percent: 0%; @end-percent: 39%);

        &::after {
            #triangle > .base-generator;
            #triangle > .to-bottom(@clearBlue);
            #triangle > .bottom-out;
        }
    }

    .hero-action {
        position: absolute;
        bottom: 40px;
        left: 50%;
        margin-left: -10px;

        i {
            font-size: 21px;
            color: @white;
        }
    }
}