.home {
    .jumbotron {
        h1 {
            font-size: 36px;
            margin-top: 0;

            @media (min-width: @screen-lg-min) {
                font-size: @fontXXL;
            }
        }
    }
}

.hero-home {
    .jumbotron-btn-container {
        .btn {
            min-width: 200px;
        }
    }
}

.what-section {
    .widget-list {
        margin-top: 55px;
        margin-bottom: 65px;

        > li {
            @media (min-width: @screen-md-min) {
                min-height: 440px;

                &:nth-child(2) {
                    margin-top: -10px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
            }

            @media (min-width: @screen-lg-min) {
                min-height: 358px;
            }

            h3 {
                text-transform: unset;
            }
        }
    }

    a {
        &.btn-transparent {
            #vlasni-btn > .vlasni-btn-base;
            #vlasni-btn > .transparent(@boldBlue, @boldBlue);
        }
    }
}

.how-it-works {
    background-color: @orange;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    padding-top: 65px;
    text-align: center;

    @media (min-width: @screen-md-min) {
        /*background-image: url("images/square-bg.jpg");*/
        padding-bottom: 90px;
    }


    h2,
    h3,
    p {
        color: @white;
    }

    h2,
    h3 {
        font-weight: @bold;
    }

    h2 {
        font-size: @fontXL;
    }

    h3 {
        font-size: @fontXS;
        text-transform: uppercase;

    }

    p {
        font-size: @fontSM;
        line-height: 2;
    }

    blockquote {
        font-weight: @semibold;

        p {
            font-size: 24px;
            font-weight: @bold;
            line-height: 1.4;
        }

        footer {
            p {
                font-size: @fontXS;
                text-transform: uppercase;
            }
        }
    }

    .middle-block-image-container {
        background-image: url("images/square-bg.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 65px;
        padding-bottom: 65px;

        @media (min-width: @screen-sm-min) {
            background-size: 100% auto;
        }

         @media (min-width: @screen-md-min) {
            background: transparent;
            padding-top: 0;
            padding-bottom: 0;
         }
    }

    .middle-block {
        padding-bottom: 65px;
        padding-left: 30px;
        padding-right: 30px;

        @media (min-width: @screen-sm-min) {
            padding-left: 95px;
            padding-right: 65px;
        }

        @media (min-width: @screen-md-min) {
            padding-bottom: 0;
        }

        a {
            margin-top: 50px;
        }
    }

    .middle-block-image {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;

        @media (min-width: @screen-sm-min) {
            padding-left: 65px;
            padding-right: 95px;
        }

        @media (min-width: @screen-md-min) {
            padding-bottom: 0;
        }
    }
}

.try-section {
    background: url("images/maps.jpg") no-repeat center center @blue;
}

.behind-vlasni {
    .btn-transparent {
        #vlasni-btn > .transparent(@boldBlue, @boldBlue);
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .vlasni-partners {
        > li {
            margin-bottom: 30px;
        }
    }
}

.vlasni-partners {
    margin-top: 75px;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: @screen-sm-min) {
        padding-left: 0;
        padding-right: 0;
    }

    .legend {
        font-weight: @bold;
        font-size: 9px;
        color: @boldBlue;
        text-transform: uppercase;
        margin-bottom: 0;

        @media (min-width: @screen-sm-min) {
            font-size: @fontSM;

            i {
                font-size: @fontXXS;
            }
        }

        i {
            color: @orange;
            margin: 0 10px;
        }
    }

    .external-block {
        @media (max-width: @screen-xs-max) {
            display: table;
        }

        height: 165px;
        border: 1px solid @lightGrey;
        border-radius: @baseRadius;

        @media (min-width: @screen-sm-min) {
            height: 200px;
        }

        @media (min-width: @screen-md-min) {
            height: 180px;
        }

        > div {
            width: 100%;
            padding-top: 80px;

            @media (min-width: @screen-sm-min) {
                padding-top: 90px;
            }

            @media (min-width: @screen-md-min) {
                margin-top: -25px;
                padding-top: 50%;
            }

            @media (min-width: 1024px) {
                margin-top: 0;
                padding-top: 80px;
            }

            @media (max-width: @screen-xs-max) {
                display: table-cell;
                vertical-align: middle;
                padding-top: 0;
            }
        }

        &.external-left {
            border-right: 0;
        }

        &.external-right {
            border-left: 0;
        }
    }

    .internal-block {
        @media (max-width: @screen-xs-max) {
            a {
                display: block;
                height: 100%;
                position: relative;
            }
        }

        background: @lightestGrey;
        height: 165px;
        border: 1px solid @lightGrey;
        border-radius: @baseRadius;
        text-align: center;

        @media (min-width: @screen-sm-min) {
            height: 200px;
        }

        @media (min-width: @screen-md-min) {
            margin-top: -10px;
            height: 200px;
        }

        img {
            padding-top: 55px;
            width: 100%;
            max-height: 160px;

            @media (min-width: 360px) {
                padding-top: 48px;
            }

            @media (min-width: 480px) {
                padding-top: 35px;
            }

            @media (min-width: 600px) {
                padding-top: 18px;
            }

            @media (min-width: 640px) {
                padding-top: 14px;
            }

            @media (width: 720px) {
                &.develance {
                    padding-top: 0;
                }
            }

            @media (min-width: @screen-sm-min) {
                width: auto;
                max-height: inherit;
                padding-top: 54px;
            }

            @media (min-width: @screen-md-min) {
                margin: -105px auto;
                padding-top: 50%;
            }

            @media (min-width: 1024px) {
                margin: 0 auto;
                padding-top: 53px;
            }

            @media (max-width: @screen-xs-max) {
                bottom: 0;
                display: block;
                left: 0;
                margin: auto;
                padding-top: 0;
                position: absolute;
                right: 0;
                top: 0;
                vertical-align: middle;
                width: 75%;
            }
        }
    }
}

.using-vlasni {
    ul {
        li {
            text-align: center;
            margin-bottom: 8px;
        }
    }
}

.modal-body {
	max-height: 450px;
	overflow-y: scroll;
}
