.what-section {
    padding: @sectionVerticalPadding 0;

    h2,
    h3,
    h4,
    p {
        text-align: center;
    }

    h2 {
        font-size: @fontXL;
        color: @strongBlue;
        font-weight: bold;
    }

    h3 {
        color: @orange;
        text-transform: uppercase;
        font-size: @fontSM;
        font-weight: @bold;
    }

    .lead {
        font-size: @fontMD;
        color: @grey;
        font-weight: normal;
        line-height: 1.8;
    }

    .widget-list {
        margin-bottom: 65px;

        > li {
            &:nth-child(2) {
                margin-top: -10px;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }

    button {
        &.btn-transparent {
            #vlasni-btn > .vlasni-btn-base;
            #vlasni-btn > .transparent(@boldBlue, @boldBlue);
        }
    }
}
